extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main 
    +alert-error(5000)

    .container.my-5 
        .row.justify-content-center 
            .col-lg-8 
                h1.text-center Reset Password
                form(
                    action="/user/password/reset"
                    method="POST"
                )
                    .mb-3
                        label.form-label(for="password") New Password
                        input.form-control(
                            type="password"
                            id="password"
                            name="password"
                            required
                        )
                    .mb-3
                        label.form-label(for="confirm-password") Confirm Password
                        input.form-control(
                            type="password"
                            id="confirmPassword"
                            name="confirmPassword"
                            required
                        )
                    .d-grid.mb-3
                        button.btn.btn-primary.btn-block(
                            type="submit"
                        ) Reset Password
