.slider
    .inner-menu 
        ul 
            li 
                a(href=`${prefixAdmin}/dashboard`) Dashboard
            if(role.permission.includes("product-category_view"))
                li
                    a(href=`${prefixAdmin}/products-category`) Category
            if(role.permission.includes("product_view"))
                li
                    a(href=`${prefixAdmin}/products`) Products List
            if(role.permission.includes("roles_view"))
                li
                    a(href=`${prefixAdmin}/roles`) Roles
            if(role.permission.includes("roles_permissions"))
                li
                    a(href=`${prefixAdmin}/roles/permissions`) Permissions
            if(role.permission.includes("account_view"))
                li
                    a(href=`${prefixAdmin}/accounts`) Accounts
            li
                a(href=`${prefixAdmin}/settings/general`) General Settings