.slider
    .inner-menu 
        ul 
            li 
                a(href=`${prefixAdmin}/dashboard`) Dashboard
            li
                a(href=`${prefixAdmin}/products-category`) Category
            li
                a(href=`${prefixAdmin}/products`) Products List
            li
                a(href=`${prefixAdmin}/roles`) Roles
            li
                a(href=`${prefixAdmin}/roles/permissions`) Permissions
            li
                a(href=`${prefixAdmin}/accounts`) Accounts